
# sample setup for editing as tabulators.

*.c           filter=editastabs
*.cpp         filter=editastabs
*.cs          filter=editastabs
*.h           filter=editastabs
*.hpp         filter=editastabs
*.inl         filter=editastabs
*.sh          filter=editastabs
*.lua         filter=editastabs
*.bat         filter=editastabs
*.cmd         filter=editastabs
*.md          filter=editastabs
*.txt         filter=editastabs

# xml and html are almost always tabsize 2...
*.xml         filter=editastabs2
*.html        filter=editastabs2

# python is iffy.  Not sure if it should always be editasspaces or not...
*.py          filter=editastabs

# following types should always be edited as spaces, because of other IDE/toolchain dependencies.

*.csproj      filter=editasspaces
*.props       filter=editasspaces
*.vcxproj     filter=editasspaces
*.xml         filter=editasspaces
