
# sample setup for editing as spaces.

*.c           filter=editasspaces
*.cpp         filter=editasspaces
*.cs          filter=editasspaces
*.h           filter=editasspaces
*.hpp         filter=editasspaces
*.inl         filter=editasspaces
*.sh          filter=editasspaces
*.lua         filter=editasspaces
*.bat         filter=editasspaces
*.cmd         filter=editasspaces
*.md          filter=editasspaces
*.txt         filter=editasspaces

# xml and html are almost always tabsize 2...
*.xml         filter=editasspaces2
*.html        filter=editasspaces2

# python is iffy.  Not sure if it should always be editasspaces or not...
*.py          filter=editasspaces

# following types should always be edited as spaces, because of other IDE/toolchain dependencies.

*.csproj      filter=editasspaces
*.props       filter=editasspaces
*.vcxproj     filter=editasspaces
*.xml         filter=editasspaces
